<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Harddisk bean -->
	<bean id="harddisk" class="com.tss.model.Harddisk">
		<!-- <property name="capacity" value="90"/> -->
		<constructor-arg value="90" />
	</bean>

	<!-- Computer bean with constructor injection -->
	<bean id="computer" class="com.tss.model.Computer">
		<!-- <property name="brand" value="Apple"/> -->
		<constructor-arg value="Apple" /> <!-- brand -->
		<constructor-arg ref="harddisk" /> <!-- inject Harddisk bean -->
	</bean>

</beans>

